<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zerohy.mp.raw.mapper.BocCsvOldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zerohy.mp.raw.entity.BocCsvOld">
    <result column="id" property="id" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
        <result column="amount" property="amount" />
        <result column="balance" property="balance" />
        <result column="code" property="code" />
        <result column="other_party_account" property="otherPartyAccount" />
        <result column="trans_date" property="transDate" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        create_time,
        update_time,
        amount, balance, code, other_party_account, trans_date, type
    </sql>

</mapper>
